h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 206, 33);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(218, 218, 47);
}
body {
    background-color: rgb(255, 255, 194);
}
